.Navigation {
  background-color: #2dd4bf;
  padding: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.Navigation a{
  text-decoration: none;
  padding: 10px 20px;
  background-color: darkblue;
  margin: 5px;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}